[Unit]
Description=Get current unix timestamp when Network Online Target is Reached
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/network-online-timestamp.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

