#---------------------------------------------------------------------
# Example configuration for a possible web application.  See the
# full configuration options online.
#
#   https://www.haproxy.org/download/1.8/doc/configuration.txt
#
#---------------------------------------------------------------------

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    # to have these messages end up in /var/log/haproxy.log you will
    # need to:
    #
    # 1) configure syslog to accept network log events.  This is done
    #    by adding the '-r' option to the SYSLOGD_OPTIONS in
    #    /etc/sysconfig/syslog
    #
    # 2) configure local2 events to go to the /var/log/haproxy.log
    #   file. A line like the following can be added to
    #   /etc/sysconfig/syslog
    #
    #    local2.*                       /var/log/haproxy.log
    #
    log         /dev/log local0 debug 
    log 127.0.0.1:514  local0 info 

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats
    stats socket /var/run/haproxy.sock mode 666 level admin
    stats timeout 2m

    # utilize system-wide crypto-policies
    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-server-ciphers PROFILE=SYSTEM

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

#---------------------------------------------------------------------
# main frontend which proxys to the backends
#---------------------------------------------------------------------
frontend prometheus_api
    bind 10.1.39.154:9091
    mode http
    option httplog 
    log global
     # Add detailed header capturing
    capture request header Authorization len 64
    capture request header Host len 64
    capture response header Content-Length len 9
    capture response header Content-Type len 64
     # Use custom log format to see more details
    log-format "%ci:%cp [%tr] %ft %b/%s %TR/%Tw/%Tc/%Tr/%Ta %ST %B %CC %CS %tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %hr %hs %{+Q}r"
    default_backend prometheus

backend prometheus
   mode http
   option httplog
   log global
   log-format "%ci:%cp [%tr] %ft %b/%s -> %B %CC %CS %tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %hr %hs %{+Q}r"

   timeout connect 5s
   timeout server 30s   
   http-request set-header Host prometheus-k8s-openshift-monitoring.apps.mno.example.com
   http-request set-header Authorization "Bearer xx" 
   server prom prometheus-k8s-openshift-monitoring.apps.mno.example.com:443 ssl verify none

frontend grafana
    bind 10.1.39.154:8090
    mode http
    no option httpclose
    capture request header Authorization len 64
    capture request header Host len 64
    log-format "%ci:%cp [%tr] %ft %b/%s %{+Q}r %[capture.req.hdr(0)] %[capture.req.hdr(1)]"
    
   # Set headers for all Grafana requests
    http-request set-header Host dittybopper-dittybopper.apps.mno.example.com
    http-request set-header Origin http://dittybopper-dittybopper.apps.mno.example.com
    http-request set-header Referer http://dittybopper-dittybopper.apps.mno.example.com
    http-request set-header X-Grafana-Org-Id 1

    default_backend dittybopper

backend dittybopper
   mode http
   no option httpclose
   timeout connect 5s
   timeout server 30s
   http-request set-header Host dittybopper-dittybopper.apps.mno.example.com
   server ditty dittybopper-dittybopper.apps.mno.example.com:80

